.user {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.photo {
    display: block;
    width: 90px;
    border-radius: 15px;
    width: 100%;
    height: auto;
}

.button {
    margin-left: 15px;
}

.arr {
    margin-left: 22px;
}

.container {
    position: relative;
    width: 50%;
}