.user {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.photo {
    display: block;
    width: 90px;
    border-radius: 15px;
    height: auto;
}

.button {
    margin-left: 15px;
}

.arr {
    margin-left: 22px;
}

.container {
    position: relative;
    width: 50%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;
    width: 90px;
    opacity: 0;
    transition: .5s ease;
    background-color: lightgrey;
    border-radius: 15px;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
