.img {
    display: block;
    height: auto;
    border-radius: 15px;
    width: 141px;
    margin-left: 100px;
    margin-top: 50px;
  }

  .ava {
  margin-left: 130px;
}

.container {
  position: relative;
  width: 50px;
  max-width: 300px;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.35);
  color: #f1f1f1;
  width: 120px;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 10px;
  padding: 10.5px;
  text-align: center;
  border-radius: 15px;
  margin-left: 100px;
  margin-top: 50px;
}

.container:hover .overlay {
  opacity: 1;
}